* {
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  position: relative;
  margin: auto;
  width: 100%;
  background: #f2f2f2;
  margin-bottom: 50px;
}

.main-heading {
  margin: auto;
  margin-bottom: 4%;
  margin-top: 4%;
  width: 80%;
  font-size: 40px;
}
.desc-wrapper {
  width: 77%;
  height: 50%;
  margin: auto;
  margin-top: 5%;
}

.description {
  margin: auto;
  font-size: 18px;
  margin-bottom: 30px;
  width: 100%;
}

.second {
  margin-top: 20px;
}

.description img {
  float: left;
  margin-right: 20px;
  width: 325px;
  height: 217px;
}

.stripe {
  width: 100%;
  height: 80px;
  position: relative;
  background: #e84e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.stripe a {
  display: inline-block;
  margin: 6%;
  max-width: 300px;
  color: white;
  cursor: pointer;
}

.stripe a:hover {
  color: black;
}

/* Tooltip--------------------------------- */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #ff571a;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* SLider + upper part--------------------------------- */

.slider {
  height: 100%;
  float: left;
  margin-right: 10%;
  width: 1000px;
  min-width: 450px;
  overflow: hidden;
  display: inline-block;
}

.slide {
  display: none;
  background: transparent;
  height: 100%;
  width: 1000px;
  min-width: 500px;
  transition: translate 1s ease;
  display: inline-block;
  margin: 0 auto;
  float: left;
}

.slide p {
  width: 75%;
  text-align: left;
  font-size: 20px;
  margin-left: 10px;
}

#slide-wrapper {
  height: 100%;
  background: transparent;
  width: 1000%;
  transition: all 1s ease;
}

.upper-part {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.bg-ph {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./images/slider-photo.jpg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  opacity: 0.5;
  z-index: -1;
}

.nextPrev {
  background: transparent;
  border: none;
  height: 100%;
  width: 70px;
  position: relative;
}

.nextPrev:hover {
  color: #ff571a;
  cursor: pointer;
}

.sld-btn {
  height: 100%;
  width: 60px;
  display: inline-block;
  text-align: center;
}

.btn-right {
  width: 50px;
}

.sld-cont {
  z-index: 1;
  width: 95%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  min-width: 900px;
  display: flex;
  align-items: center;
}

.about {
  position: relative;
  display: block;
  width: 200px;
  font-size: 18px;
  left: 70%;
  padding: 10px 20px 10px;
  margin-top: 4%;
  border-radius: 20px;
  background: white;
  border: 1px solid #ff571a;
  color: #ff571a;
  margin-bottom: 4%;
  cursor: pointer;
}

.about:hover {
  opacity: 0.8;
}

/* new graph---------------------------------------------------------*/

.graph-container {
  width: 560px;
  margin: auto;
  font-size: 15px;
}

.time-wrap {
  width: 100%;
  height: 50px;
}

.logo {
  height: 50px;
  width: 50px;
}

.clock {
  width: 50px;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
  float: left;
}

.graph-wrap {
  font-size: 0;
  vertical-align: bottom;
}

.legend {
  width: 100%;
  height: 50px;
  display: flex;
  padding-left: 50px;
  font-size: 15px;
}

.bar {
  display: inline-block;
  width: 17px;
  height: 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-bottom: 0;
}

.bez-fronty {
  background: #ffb499;
}

.moznost {
  background: #f29340;
}

.cekani {
  background: #ff571a;
}

.time-cell {
  float: left;
  width: 17px;
  height: 100%;
  padding-top: 10px;
}

.time-txt {
  transform: rotate(-90deg);
  text-align: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 10px;
}

.legend-text {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
}

/*----------------------------- columns -----------------*/

.colm-wrap {
  width: 70%;
  margin: auto;
}

.colm {
  display: inline-block;
  width: 49%;
  height: 100%;
  min-width: 400px;
  vertical-align: middle;
}

.one {
  vertical-align: top;
}
.decimal ol {
  list-style: none;
  counter-reset: li;
}

li {
  counter-increment: li;
}

li {
  margin-bottom: 10%;
}

.fa-check {
  color: #d46321;
}

.decimal li::before {
  content: counter(li);
  color: #d46321;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
/*-----------------------------  karty -----------------*/

.ref-cont {
  width: 80%;

  /* height: 400px; */
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

.ref {
  width: 30%;
  height: 400px;
  background: white;
  display: inline-block;
  margin: auto;
  text-align: center;
}

.black {
  background: black;
  color: white;
}

.card-text {
  height: 80%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 19px;
}

.card-footer {
  height: 10%;
  width: 90%;
  margin: auto;
  position: relative;
  text-align: center;
  bottom: 0;
}

.card-footer p {
  display: inline-block;
  font-weight: bold;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
  color: #ff571a;
}

.etn-color {
  color: #ff571a;
}

/* ----------envelope--------------*/

.footer {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 150px;
  font-weight: bold;
}

#envelope {
  height: 50px;
  width: 50px;
  opacity: 0;
  pointer-events: none;
  background: #ee4466;
  color: white;
  border-radius: 50px;
  position: fixed;
  transition: all 0.5s ease;
  bottom: 10%;
  right: 10%;
  z-index: 3;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#envelope.visible {
  opacity: 1;
  pointer-events: auto;
}

/*Modal -----------------------*/

#modal {
  position: relative;
  background: white;
  padding: 10px;
  color: gray;
  width: 25%;
  width: 350px;
  height: 330px;
  position: fixed;
  font-size: 15px;
  right: 3%;
  bottom: 23%;
  display: none;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modal h3 {
  color: black;
}

#modal.show {
  display: block;
}

#modal:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 70%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  margin-left: -22px;
  margin-bottom: -22px;
}

.email-input {
  width: 90%;
  height: 30px;
}

.submit-btn {
  background: #e84e0e;
  border: none;
  border-radius: 20px;
  padding: 10px 10px 10px;
  color: white;
  width: 70%;
}

.submit-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.fa-times {
  float: right;
}

input,
label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

/* -------------------------------- navbar */
.navbar-wrap {
  position: relative;
  margin: auto;
  height: 80px;
  width: 100%;
  min-width: 550px;
}

.navbar-wrap img {
  position: absolute;
  height: 80px;
  width: 258px;
}

.navbar {
  padding-right: 3%;

  width: 70%;
  height: 100%;
  margin: auto;
  float: right;
}

.nvb-link {
  float: right;
  display: inline-block;
  vertical-align: middle;
  line-height: 80px;
  margin-left: 10px;
  font-size: 20px;
}

.nvb-link {
  color: black;
  text-decoration: none;
}

.nvb-link:hover {
  color: #ff571a;
}

.nvb-link.current-pg {
  color: #ff571a;
  text-decoration: underline;
}

#dropdown-menu {
  position: fixed;
  background: white;
  z-index: 2;
  top: -1600px;
  font-size: 15px;
  width: 100%;
  transition: top 1s ease;
  opacity: 0.95;
  height: 40%;
  min-height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dropdown-menu.show {
  top: 0px;
}

#dropdown-menu ul li {
  list-style: none;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 25px;
}

#dropdown-menu ul {
  margin-top: 10%;
  padding-left: 20px;
  margin-left: 0px;
}

#dropdown-menu ul li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.nvb-button {
  position: absolute;
  right: 10px;
  top: 5px;
  display: none;
  vertical-align: middle;
  line-height: 80px;
  color: black;
  font-size: 20px;
  z-index: 9;
  cursor: pointer;
}
